<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ie.ucc.bis.supportinglife.test" android:versionCode="1" android:versionName="1.0-SNAPSHOT">

	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="18"/>

	<application android:icon="@drawable/icon" android:label="Supporting LIFE">
		<uses-library android:name="android.test.runner"/>
	</application>

	<instrumentation android:targetPackage="ie.ucc.bis.supportinglife" android:name="android.test.InstrumentationTestRunner"/>

</manifest>

